# App
PROTOCOL=http
HOST=__HOST_IP__
PORT=5050
NODE_ENV=development
# NODE_ENV=production
# NODE_ENV=test
# TEST_MODE=true

# Cors
CORS_ORIGINS=http://__HOST_IP__:80,http://__HOST_IP__,http://__HOST_IP__:3000,http://__HOST_IP__:5050

# Secrets
JWT_SECRET=example-secret
JWT_REFRESH_TOKEN_EXPIRATION=15d
JWT_ACCESS_TOKEN_EXPIRATION=1d

# Database
# @AhmedElsenaty
# TODO: Change default credientials in production
# Postgres
DB_HOST=__HOST_IP__
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=tsts_db
DB_SYNC=false
DB_LOGGING=true
DB_RUN_MIGRATIONS=false

# Redis
REDIS_HOST=__HOST_IP__
REDIS_PORT=6379

# Minio
MINIO_PROTOCOL=http
MINIO_HOST=__HOST_IP__
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_REGION=us-east-1
MINIO_USER=minioadmin
MINIO_PASSWORD=minioadmin123
MINIO_BUCKET=tsts
MINIO_CERT_FILE=/root/certs/staging.myapp.local.pem
MINIO_KEY_FILE=/root/certs/staging.myapp.local-key.pem
MINIO_CA_CERT=/root/certs/ca.crt

# MongoDB
MONGO_HOST=__HOST_IP__
MONGO_PORT=27017
MONGO_USER=admin
MONGO_PASSWORD=admin
MONGO_DB=tsts_mongo
MONGO_SYNC=false
MONGO_LOGGING=true
MONGO_RUN_MIGRATIONS=false

# Mail
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=587
MAIL_USER=fc0685c4bd0437
MAIL_PASS=24f66168af2f5b


# # Mail
# MAIL_HOST=smtp.office365.com
# MAIL_PORT=587
# MAIL_SECURE=false
# MAIL_USER=devco63b@gmail.com
# MAIL_PASS=iwgzzxeavedqjyyq

# Microsoft Entra ID / SSO
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

# Trusted Device Auth
RP_ID=__HOST_IP__
RP_ORIGINS=http://__HOST_IP__,http://__HOST_IP__:3000

NODE_EXTRA_CA_CERTS= /certs/rootCA.pem


SSL_CERT_FILE=/certs/{{ server_ip }}.pem
SSL_KEY_FILE=/certs/{{ server_ip }}-key.pem